<form [formGroup]="cardForm" class="example-form" (ngSubmit)="onSubmit()">
  <app-inputs
    label="Card Number"
    name="cardnumber"
    [control]="cardForm.get('cardnumber')"
  ></app-inputs>
  <app-inputs
    label="Card Holder Name"
    name="name"
    [control]="cardForm.get('name')"
  ></app-inputs>
  <app-inputs
    label="Expiry"
    name="expiry"
    [control]="cardForm.get('expiry')"
  ></app-inputs>
  <app-inputs
    label="Security code"
    name="security"
    [control]="cardForm.get('security')"
  ></app-inputs>
  <button
    mat-flat-button
    color="primary"
    type="submit"
    [disabled]="cardForm.invalid"
  >
    Primary
  </button>
  <button mat-flat-button color="warn" (click)="reset()" class="reset">
    Reset
  </button>
</form>
{{ cardForm.value | json }}
