<p>
  <mat-toolbar color="primary">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span>Cedit Card Application Using Reactive Forms</span>
    <span class="example-spacer"></span>
  </mat-toolbar>
</p>
<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile
    ><app-card-views [cardDetails]="cardDetails"></app-card-views
  ></mat-grid-tile>
  <mat-grid-tile
    ><app-card-forms (cardData)="getCardData($event)"></app-card-forms
  ></mat-grid-tile>
</mat-grid-list>
